{% extends "placard/account_form.html" %}
{% load url from future %}


{% block form-fields %}
{% load placard_tags %}
{{ form.non_field_errors }}
{% if created %}
{% formfield form.uid %}
{% formfield form.force %}
{% formfield form.raw_password %}
{% formfield form.raw_password2 %}
{% endif %}
{% inlineformfield form.givenName form.sn %}
{% if form.eduPersonAffiliation %}{% formfield form.eduPersonAffiliation %}{% endif %}
{% if form.primary_group %}{% formfield form.primary_group %}{% endif %}
{% formfield form.title %}
{% formfield form.description %}

{% inlineformfield form.telephoneNumber form.facsimileTelephoneNumber %}
{% formfield form.mobile %}
{% formfield form.mail %}
{% formfield form.managed_by %}
{% inlineformfield form.l form.roomNumber %}
{% formfield form.jpegPhoto %}
{% if form.sshPublicKey %}{% formfield form.sshPublicKey %}{% endif %}
{% if form.loginShell %}{% formfield form.loginShell %}{% endif %}
{% endblock %}
